<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>

<body>
    <div class="w-[1440px] flex bg-slate-50">
        <div class="flex flex-col justify-between self-stretch w-72 bg-blue-900">
            <div class="flex flex-col self-stretch p-8">
                <div class="flex items-center gap-3 self-stretch">
                    <div class="w-10 h-10 flex justify-center items-center bg-emerald-500 rounded-lg">
                        <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                            <div class="w-[22.5px] h-5"><svg class="w-[22.5px] h-[20.0029296875px] text-white"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><span class="font-bold text-2xl text-white">Bailtech</span></div>
                </div>
            </div>
            <div class="flex flex-col justify-center self-stretch grow pt-4">
                <div class="flex flex-col self-stretch grow px-4">
                    <div class="flex flex-col gap-2 self-stretch">
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[16.93529510498047px] h-4 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Tableau de
                                    bord</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch bg-white px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3 h-4"><svg class="w-3 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-medium text-base text-white">Contrats</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg class="w-5 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Locataires</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg
                                        class="w-[19.996875762939453px] h-[15.994534492492676px] text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Paiements</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3.5 h-4"><svg
                                        class="w-[12.002591133117676px] h-[16.000564575195312px] text-yellow-400"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Calculateur
                                    JIRAMA</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[17.998830795288086px] h-3.5 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Documents</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col self-stretch p-6">
                <div class="flex flex-col gap-2 self-stretch bg-white p-4 rounded-2xl">
                    <div class="flex flex-col self-stretch"><span
                            class="font-semibold text-xs underline text-white">Abonnement</span></div>
                    <div class="flex justify-between items-center self-stretch">
                        <div class="flex flex-col"><span class="font-medium text-sm text-white">Pack Premium</span>
                        </div>
                        <div class="flex flex-col bg-emerald-500 px-2 py-0.5 rounded-full"><span
                                class="font-normal text-[10px] leading-[15px] text-white">ACTIF</span></div>
                    </div>
                    <div class="self-stretch h-1.5 bg-white rounded-full">
                        <div class="w-[156px] h-1.5 bg-emerald-500"></div>
                    </div>
                    <div class="flex flex-col self-stretch"><span
                            class="font-normal text-[11px] leading-[16.5px] text-white">12/15 biens gérés</span></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col self-stretch grow">
            <div class="flex justify-between items-center self-stretch h-20 bg-white px-8 border-solid border-gray-100">
                <div class="flex items-center gap-4">
                    <div class="w-10 h-10 flex justify-center items-center bg-slate-50 rounded-full">
                        <div class="flex flex-col py-1">
                            <div class="w-3.5 h-4"><svg
                                    class="w-[13.999218940734863px] h-[12.004688262939453px] text-slate-500"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><span class="font-bold text-xl text-gray-900">Nouveau Contrat de
                            Bail</span></div>
                </div>
                <div class="flex items-center gap-3">
                    <div class="flex flex-col">
                        <div class="flex flex-col items-end self-stretch"><span
                                class="font-semibold text-sm text-right text-gray-900">M. Razafindrakoto</span></div>
                        <div class="flex flex-col items-end self-stretch"><span
                                class="font-normal text-xs text-right text-gray-500">Propriétaire</span></div>
                    </div><img class="w-10 h-10 rounded-full border-2 border-solid border-emerald-500"></img>
                </div>
            </div>
            <div class="flex self-stretch grow">
                <div class="flex flex-col self-stretch grow bg-white border-solid border-slate-200">
                    <div class="flex flex-col self-stretch px-8 py-6 border-solid border-slate-50">
                        <div class="flex justify-between items-center self-stretch">
                            <div class="w-[464px] h-0.5 bg-slate-100"></div>
                            <div class="flex flex-col items-center">
                                <div class="w-10 h-10 flex justify-center items-center bg-blue-900 rounded-full">
                                    <div class="w-10 h-10 bg-white"></div><span
                                        class="font-bold text-base text-center text-white">1</span>
                                </div>
                                <div class="flex flex-col pt-2"><span
                                        class="font-bold text-[11px] leading-[16.5px] underline text-blue-900">Parties</span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <div
                                    class="w-10 h-10 flex justify-center items-center bg-white rounded-full border-2 border-solid border-slate-200">
                                    <span class="font-bold text-base text-center text-slate-400">2</span></div>
                                <div class="flex flex-col pt-2"><span
                                        class="font-bold text-[11px] leading-[16.5px] underline text-slate-400">Le
                                        Bien</span></div>
                            </div>
                            <div class="flex flex-col items-center">
                                <div
                                    class="w-10 h-10 flex justify-center items-center bg-white rounded-full border-2 border-solid border-slate-200">
                                    <span class="font-bold text-base text-center text-slate-400">3</span></div>
                                <div class="flex flex-col pt-2"><span
                                        class="font-bold text-[11px] leading-[16.5px] underline text-slate-400">Conditions</span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <div
                                    class="w-10 h-10 flex justify-center items-center bg-white rounded-full border-2 border-solid border-slate-200">
                                    <span class="font-bold text-base text-center text-slate-400">4</span></div>
                                <div class="flex flex-col pt-2"><span
                                        class="font-bold text-[11px] leading-[16.5px] underline text-slate-400">Validation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-10 self-stretch grow p-8">
                        <div class="flex flex-col gap-6 self-stretch">
                            <div class="flex items-center gap-3 self-stretch">
                                <div class="w-8 h-8 flex justify-center items-center bg-blue-50 rounded">
                                    <div class="flex flex-col py-1">
                                        <div class="w-3.5 h-4"><svg class="w-3.5 h-4 text-blue-900"></svg></div>
                                    </div>
                                </div>
                                <div class="flex flex-col"><span class="font-bold text-lg text-slate-900">Le Bailleur
                                        (Propriétaire)</span></div>
                            </div>
                            <div class="flex self-stretch h-[168px]">
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Nom Complet</span>
                                    <div
                                        class="flex justify-center self-stretch bg-slate-50 px-4 py-2.5 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-base text-slate-800">RAZAFINDRAKOTO
                                                Jean-Luc</span></div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Numéro CIN</span>
                                    <div
                                        class="flex justify-center self-stretch bg-slate-50 px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">Ex: 101 234 567 890</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Adresse de Résidence</span>
                                    <div
                                        class="flex justify-center self-stretch bg-slate-50 px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">Lot IV X 45bis,
                                                Antananarivo</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch h-px border-t border-solid border-slate-100"></div>
                        <div class="flex flex-col gap-6 self-stretch">
                            <div class="flex items-center gap-3 self-stretch">
                                <div class="w-8 h-8 flex justify-center items-center bg-emerald-50 rounded">
                                    <div class="flex flex-col py-1">
                                        <div class="w-5 h-4"><svg
                                                class="w-[19.794532775878906px] h-4 text-emerald-500"></svg></div>
                                    </div>
                                </div>
                                <div class="flex flex-col"><span class="font-bold text-lg text-slate-900">Le
                                        Locataire</span></div>
                            </div>
                            <div class="flex self-stretch h-[260px]">
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Nom Complet</span>
                                    <div
                                        class="flex justify-center self-stretch bg-white px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">Nom du locataire</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Numéro CIN / Passport</span>
                                    <div
                                        class="flex justify-center self-stretch bg-white px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">Numéro d'identité</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Adresse Actuelle</span>
                                    <div
                                        class="flex justify-center self-stretch bg-white px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">Adresse du locataire avant
                                                emménagement</span></div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Téléphone</span>
                                    <div
                                        class="flex justify-center self-stretch bg-white px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">+261 34 00 000 00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[7.5px] grow pt-[2.5px]"><span
                                        class="font-semibold text-sm text-slate-600">Email (Optionnel)</span>
                                    <div
                                        class="flex justify-center self-stretch bg-white px-4 py-3 rounded-xl border border-solid border-slate-200">
                                        <div class="flex flex-col grow"><span
                                                class="font-normal text-[16px] text-gray-400">email@exemple.mg</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex justify-between items-center self-stretch bg-slate-50 p-6 border-t border-solid border-slate-100">
                        <div class="flex justify-center items-center px-6 py-2.5"><span
                                class="font-semibold text-base text-center text-slate-400">Sauvegarder en
                                brouillon</span></div>
                        <div class="flex">
                            <div class="flex items-center gap-2 bg-blue-900 px-8 py-2.5 rounded-xl">
                                <div class="w-[142.5px] h-[44px] bg-white"></div><span
                                    class="font-bold text-base text-center text-white">Suivant</span>
                                <div class="flex flex-col pt-[1.5px] pb-[2.5px]">
                                    <div class="w-[10.5px] h-3"><svg
                                            class="w-[10.499414443969727px] h-[9.00351619720459px] text-white"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center self-stretch grow bg-slate-200 p-12">
                    <div class="self-stretch w-[480px] bg-white">
                        <div class="w-[480px] h-[1373.1300048828125px] bg-white"></div>
                        <div class="w-96 flex flex-col pb-10">
                            <div class="flex flex-col items-center self-stretch">
                                <div
                                    class="flex justify-center px-[32.65999984741211px] pb-1 border-solid border-slate-800">
                                    <span class="font-bold text-xl text-center underline text-slate-800">CONTRAT DE BAIL
                                        À USAGE
                                        D'HABITATION</span></div>
                            </div>
                        </div>
                        <div class="w-96 flex flex-col gap-[23px]">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-[13px] leading-[21.1299991607666px] text-slate-800">ENTRE LES
                                    SOUSSIGNÉS :</span></div>
                            <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                    class="text-[13px] leading-[21.1299991607666px] text-slate-800">M. RAZAFINDRAKOTO
                                    Jean-Luc, titulaire de la CIN n°</span><span
                                    class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">[Numéro
                                    CIN], demeurant à [Adresse du bailleur], ci-après</span><span
                                    class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">dénommé
                                    "Le Bailleur" d'une part,</span></div>
                            <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                    class="text-[13px] leading-[21.1299991607666px] text-slate-800">M. / Mme / Mlle [Nom
                                    du Locataire], titulaire de la CIN n°</span><span
                                    class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">[Numéro
                                    CIN], demeurant à [Adresse actuelle], ci-après</span><span
                                    class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">dénommé
                                    "Le Locataire" d'autre part.</span></div>
                            <div class="flex flex-col gap-[14.989999771118164px] self-stretch pt-px">
                                <div class="self-stretch h-[21.1299991607666px] border-solid border-slate-800"><span
                                        class="font-bold text-[13px] leading-[21.1299991607666px] text-slate-800">ARTICLE
                                        1 : OBJET DU CONTRAT</span></div>
                                <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">Le
                                        présent contrat a pour objet la location d'un bien</span><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">immobilier
                                        de type [Type de bien], situé à [Adresse du bien].</span><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">Le
                                        locataire déclare bien connaître les lieux pour les avoir</span><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">visités.</span>
                                </div>
                            </div>
                            <div class="flex flex-col gap-[15px] self-stretch pt-[0.9900000095367432px]">
                                <div class="self-stretch h-[21.1299991607666px] border-solid border-slate-800"><span
                                        class="font-bold text-[13px] leading-[21.1299991607666px] text-slate-800">ARTICLE
                                        2 : DURÉE ET PRÉAVIS</span></div>
                                <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">Le
                                        bail est consenti pour une durée déterminée. Sauf</span><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">stipulation
                                        contraire, la durée du préavis est fixée à trois (03)</span><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">mois pour les
                                        deux parties.</span></div>
                            </div>
                            <div class="flex flex-col gap-[15px] self-stretch pt-px">
                                <div class="self-stretch h-[21.1299991607666px] border-solid border-slate-800"><span
                                        class="font-bold text-[13px] leading-[21.1299991607666px] text-slate-800">ARTICLE
                                        3 : LOYER ET CHARGES</span></div>
                                <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">Le loyer mensuel
                                        est fixé à la somme de [Montant] MGA ,</span><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">payable
                                        d'avance avant le 05 de chaque mois. Les charges</span><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">JIRAMA
                                        (eau et électricité) sont à la charge exclusive du</span><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">locataire selon
                                        le mode de comptage : [Type de compteur].</span></div>
                            </div>
                            <div class="flex flex-col gap-[14.989999771118164px] self-stretch pt-px">
                                <div class="self-stretch h-[21.1299991607666px] border-solid border-slate-800"><span
                                        class="font-bold text-[13px] leading-[21.1299991607666px] text-slate-800">ARTICLE
                                        4 : CAUTION</span></div>
                                <div class="flex flex-col gap-[-0.8999999761581421px] self-stretch"><span
                                        class="font-normal text-[13px] leading-[21.1299991607666px] text-slate-800">À
                                        titre de garantie, le locataire verse ce jour une somme</span><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">correspondant à
                                        [Nombre] mois de loyer, soit [Total Caution]</span><span
                                        class="text-[13px] leading-[21.1299991607666px] text-slate-800">MGA.</span>
                                </div>
                            </div>
                        </div>
                        <div class="w-96 flex flex-col pt-12">
                            <div class="flex justify-center gap-8 self-stretch">
                                <div
                                    class="flex flex-col justify-between grow h-32 p-4 rounded border border-dashed border-slate-300">
                                    <div class="flex flex-col self-stretch"><span
                                            class="font-bold text-[10px] leading-[20px] underline text-slate-400">Signature
                                            du Bailleur</span></div>
                                    <div class="flex flex-col items-center self-stretch"><span
                                            class="font-normal text-sm text-center text-slate-300">Lu et approuvé</span>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col justify-between grow h-32 p-4 rounded border border-dashed border-slate-300">
                                    <div class="flex flex-col self-stretch"><span
                                            class="font-bold text-[10px] leading-[20px] underline text-slate-400">Signature
                                            du Locataire</span></div>
                                    <div class="flex flex-col items-center self-stretch"><span
                                            class="font-normal text-sm text-center text-slate-300">Lu et approuvé</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-96 flex flex-col pt-10">
                            <div class="flex flex-col self-stretch pl-52 pt-6 border-t-2 border-solid border-slate-200">
                                <div
                                    class="flex flex-col justify-center self-stretch px-6 pt-6 pb-[34px] border-2 border-solid border-slate-800">
                                    <div class="flex flex-col bg-white pl-2 pr-[15.449999809265137px]"><span
                                            class="font-bold text-[10px] leading-[15px] underline text-slate-800">Visa
                                            du Fokontany /
                                            Commune</span></div>
                                    <div class="flex flex-col justify-center items-center self-stretch opacity-[0.20]">
                                        <div class="flex flex-col pt-[1.5px] pb-[2.5px]">
                                            <div class="w-9 h-9"><svg class="w-9 h-9 text-slate-800"></svg></div>
                                        </div>
                                        <div class="flex flex-col pr-[11.550000190734863px] pt-2"><span
                                                class="font-medium text-[10px] leading-[15px] text-slate-800">Espace
                                                réservé à
                                                l'autorité administrative</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-96 flex justify-between items-end pr-[1.1368683772161603e-13px] pt-8 border-t border-solid border-slate-100">
                            <div class="flex items-center gap-2">
                                <div class="w-6 h-6 flex justify-center items-center bg-slate-100 rounded">
                                    <div class="flex flex-col pt-[2.25px] pb-[2.75px]">
                                        <div class="w-[11.25px] h-2.5"><svg
                                                class="w-[11.25px] h-[10.00146484375px] text-slate-400"></svg></div>
                                    </div>
                                </div>
                                <div class="flex flex-col"><span
                                        class="font-normal text-[10px] leading-[15px] text-slate-400">Généré par
                                        Bailtech - Plateforme de gestion immobilière</span></div>
                            </div>
                            <div class="flex flex-col"><span
                                    class="font-normal text-[10px] leading-[15px] text-slate-400">Page 1 / 1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>