<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
    
</head>

<body>
    <div class="w-[1440px] flex bg-gray-50">
        <div class="flex flex-col justify-between self-stretch w-72 bg-blue-900">
            <div class="flex flex-col self-stretch p-8">
                <div class="flex items-center gap-3 self-stretch">
                    <div class="w-10 h-10 flex justify-center items-center bg-emerald-500 rounded-lg">
                        <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                            <div class="w-[22.5px] h-5"><svg class="w-[22.5px] h-[20.0029296875px] text-white"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><span class="font-bold text-2xl text-white">Bailtech</span></div>
                </div>
            </div>
            <div class="flex flex-col justify-center self-stretch grow pt-4">
                <div class="flex flex-col self-stretch grow px-4">
                    
                    <div class="flex flex-col gap-2 self-stretch">
                        <div class="flex items-center gap-3 self-stretch bg-white px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[16.93529510498047px] h-4 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-medium text-base text-white">Tableau de
                                    bord</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3 h-4"><svg class="w-3 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Contrats</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg class="w-5 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Locataires</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg
                                        class="w-[19.996875762939453px] h-[15.994534492492676px] text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Paiements</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3.5 h-4"><svg
                                        class="w-[12.002591133117676px] h-[16.000564575195312px] text-yellow-400"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Calculateur
                                    JIRAMA</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[17.998830795288086px] h-3.5 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Documents</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col self-stretch p-6">
                <div class="flex flex-col gap-2 self-stretch bg-white p-4 rounded-2xl">
                    <div class="flex flex-col self-stretch"><span
                            class="font-semibold text-xs underline text-white">Abonnement</span></div>
                    <div class="flex justify-between items-center self-stretch">
                        <div class="flex flex-col"><span class="font-medium text-sm text-white">Pack Premium</span>
                        </div>
                        <div class="flex flex-col bg-emerald-500 px-2 py-0.5 rounded-full"><span
                                class="font-normal text-[10px] leading-[15px] text-white">ACTIF</span></div>
                    </div>
                    <div class="self-stretch h-1.5 bg-white rounded-full">
                        <div class="w-[156px] h-1.5 bg-emerald-500"></div>
                    </div>
                    <div class="flex flex-col self-stretch"><span
                            class="font-normal text-[11px] leading-[16.5px] text-white">12/15 biens gérés</span></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col self-stretch grow">
            <div class="flex justify-between items-center self-stretch h-20 bg-white px-8 border-solid border-gray-100">
                <div class="w-96 flex items-center bg-gray-50 px-4 py-2 rounded-xl border border-solid border-gray-100">
                    <div class="flex flex-col pr-3 pt-1 pb-1">
                        <div class="w-4 h-4"><svg
                                class="w-[15.999218940734863px] h-[16.002344131469727px] text-gray-400"></svg></div>
                    </div>
                    <div class="flex flex-col grow pt-px pb-0.5">
                        <div class="flex flex-col self-stretch"><span
                                class="font-normal text-[14px] text-gray-400">Rechercher un locataire ou
                                contrat...</span></div>
                    </div>
                </div>
                <div class="flex items-center gap-6">
                    <div class="flex flex-col justify-center items-center py-0.5">
                        <div class="flex pt-[1.5px] pb-[2.5px]">
                            <div class="w-[17.5px] h-5"><svg class="w-[17.498252868652344px] h-5 text-gray-400"></svg>
                            </div>
                        </div>
                        <div class="w-2 h-2 bg-red-500"></div>
                    </div>
                    <div class="w-px h-8 bg-gray-200"></div>
                    <div class="flex items-center gap-3">
                        <div class="flex flex-col">
                            <div class="flex flex-col items-end self-stretch"><span
                                    class="font-semibold text-sm text-right text-gray-900">M. Razafindrakoto</span>
                            </div>
                            <div class="flex flex-col items-end self-stretch"><span
                                    class="font-normal text-xs text-right text-gray-500">Propriétaire</span></div>
                        </div><img class="w-10 h-10 rounded-full border-2 border-solid border-emerald-500"></img>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-8 self-stretch p-8">
                <div class="flex justify-between items-center self-stretch">
                    <div class="flex flex-col">
                        <div class="flex flex-col self-stretch"><span class="font-bold text-2xl text-gray-900">Manao
                                ahoana, Razafindrakoto</span></div>
                        <div class="flex flex-col self-stretch"><span class="font-normal text-base text-gray-500">Voici
                                l'état actuel de votre parc immobilier aujourd'hui.</span></div>
                    </div>
                    <div class="flex gap-4">
                        <div
                            class="flex items-center gap-2 bg-white px-5 py-2.5 rounded-xl border border-solid border-gray-200">
                            <div class="flex flex-col py-1">
                                <div class="w-3.5 h-4"><svg
                                        class="w-[12.002591133117676px] h-[16.000564575195312px] text-yellow-500"></svg>
                                </div>
                            </div><span class="font-semibold text-base text-center text-blue-900">Calculer JIRAMA</span>
                        </div>
                        <div class="flex items-center gap-2 bg-emerald-500 px-5 py-[11px] rounded-xl">
                            <div class="w-[194px] h-[46px] bg-white"></div>
                            <div class="flex flex-col py-1">
                                <div class="w-3.5 h-4"><svg class="w-[13px] h-[13px] text-white"></svg></div>
                            </div><span class="font-semibold text-base text-center text-white">Nouveau Contrat</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center gap-6 self-stretch">
                    <div
                        class="w-[346.6600036621094px] flex flex-col gap-1 bg-white p-6 rounded-2xl border border-solid border-gray-100">
                        <div class="flex justify-between items-center self-stretch pr-[0.009999999776482582px]">
                            <div class="w-12 h-12 flex justify-center items-center bg-blue-50 rounded-xl">
                                <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                                    <div class="w-5 h-5"><svg class="w-5 h-[17.5px] text-blue-900"></svg></div>
                                </div>
                            </div>
                            <div class="flex flex-col bg-emerald-50 px-2 py-1 rounded-lg"><span
                                    class="font-medium text-sm text-emerald-600">+12% ce mois</span></div>
                        </div>
                        <div class="flex flex-col self-stretch pt-3"><span
                                class="font-medium text-sm text-gray-500">Total des loyers (MGA)</span></div>
                        <div class="flex items-end self-stretch pb-px"><span
                                class="font-bold text-3xl text-gray-900">4.850.000</span><span
                                class="font-semibold text-lg text-gray-900">Ar</span></div>
                    </div>
                    <div
                        class="w-[346.6700134277344px] flex flex-col gap-1 bg-white p-6 rounded-2xl border border-solid border-gray-100">
                        <div class="flex items-center self-stretch">
                            <div class="w-12 h-12 flex justify-center items-center bg-emerald-50 rounded-xl">
                                <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                                    <div class="w-[22.5px] h-5"><svg
                                            class="w-[22.49609375px] h-5 text-emerald-500"></svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col self-stretch pt-3"><span
                                class="font-medium text-sm text-gray-500">Contrats actifs</span></div>
                        <div class="flex items-end gap-[-0.009999999776482582px] self-stretch pb-px"><span
                                class="font-bold text-3xl text-gray-900">12</span><span
                                class="font-semibold text-lg text-gray-400">Unités</span></div>
                    </div>
                    <div
                        class="w-[346.6600036621094px] flex flex-col gap-1 bg-white p-6 rounded-2xl border border-solid border-gray-100">
                        <div class="flex items-center self-stretch">
                            <div class="w-12 h-12 flex justify-center items-center bg-amber-50 rounded-xl">
                                <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                                    <div class="w-5 h-5"><svg class="w-5 h-5 text-amber-600"></svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col self-stretch pt-3"><span
                                class="font-medium text-sm text-gray-500">Paiements en attente</span></div>
                        <div class="flex items-end gap-[1.7763568394002505e-14px] self-stretch pb-px"><span
                                class="font-bold text-3xl text-gray-900">3</span><span
                                class="font-semibold text-lg text-gray-400">Retards</span></div>
                    </div>
                </div>
                <div class="flex self-stretch h-[438px]">
                    <div class="flex flex-col grow bg-white rounded-2xl border border-solid border-gray-100">
                        <div class="flex justify-between items-center self-stretch p-6 border-solid border-gray-50">
                            <div class="flex flex-col"><span class="font-bold text-base text-gray-900">Contrats
                                    Récents</span></div>
                            <div class="flex flex-col"><span class="font-semibold text-sm text-blue-900">Voir
                                    tout</span></div>
                        </div>
                        <div class="flex flex-col self-stretch">
                            <div class="flex flex-col self-stretch bg-gray-50">
                                <div class="flex justify-center self-stretch pr-[52.040000915527344px]">
                                    <div class="w-[154.80999755859375px] flex flex-col px-6 pt-[23.5px] pb-[24.5px]">
                                        <span class="font-semibold text-xs underline text-gray-400">Locataire</span>
                                    </div>
                                    <div class="w-[188.0800018310547px] flex flex-col px-6 pt-[23.5px] pb-[24.5px]">
                                        <span class="font-semibold text-xs underline text-gray-400">Bien</span></div>
                                    <div class="w-[133.6300048828125px] flex flex-col px-6 py-4"><span
                                            class="font-semibold text-xs underline text-gray-400">Loyer
                                            (MGA)</span></div>
                                    <div class="w-[186.77000427246094px] flex flex-col px-6 pt-[23.5px] pb-[24.5px]">
                                        <span class="font-semibold text-xs underline text-gray-400">Statut</span></div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-[-1px] self-stretch">
                                <div
                                    class="flex justify-center items-center self-stretch pl-6 pr-[1.1368683772161603e-13px]">
                                    <div class="w-[106.80999755859375px] h-10"><img class="w-8 h-8 rounded-full"></img>
                                        <div class="flex flex-col"><span
                                                class="font-medium text-sm text-gray-900">Sahondra
                                                R.</span></div>
                                    </div>
                                    <div class="w-[212.0800018310547px] flex flex-col pl-12 pr-6 pt-4 pb-4"><span
                                            class="font-medium text-sm text-gray-600">Appartement T3,
                                            Ivandry</span></div>
                                    <div class="w-[133.6300048828125px] flex flex-col px-6 py-4"><span
                                            class="font-bold text-sm text-gray-900">1.200.000
                                            Ar</span></div>
                                    <div class="w-[186.77000427246094px] flex flex-col px-6 pt-[26px] pb-[23.5px]">
                                        <div class="flex bg-emerald-100 px-3 py-[3.5px] rounded-full"><span
                                                class="font-semibold text-xs underline text-emerald-700">Actif</span>
                                        </div>
                                    </div>
                                    <div class="w-[52.04999923706055px] flex flex-col items-end px-6 pt-6 pb-[24.5px]">
                                        <div class="flex justify-center items-center py-0.5">
                                            <div class="flex py-0.5">
                                                <div class="w-1 h-4"><svg
                                                        class="w-[3.5px] h-[13.5px] text-gray-400"></svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex justify-center items-center self-stretch pl-6 pr-[1.1368683772161603e-13px] border-t border-solid border-gray-50">
                                    <div class="w-[106.80999755859375px] flex items-center gap-3"><img
                                            class="w-8 h-8 rounded-full"></img>
                                        <div class="flex flex-col pr-[22.1200008392334px]"><span
                                                class="font-medium text-sm text-gray-900">Andry
                                                Tiana</span></div>
                                    </div>
                                    <div class="w-[212.0800018310547px] flex flex-col pl-12 pr-6 pt-5 pb-[21px]"><span
                                            class="font-medium text-sm text-gray-600">Studio,
                                            Ankorondrano</span></div>
                                    <div class="w-[133.6300048828125px] flex flex-col px-6 pt-[30px] pb-[31px]"><span
                                            class="font-bold text-sm text-gray-900">650.000 Ar</span></div>
                                    <div class="w-[186.77000427246094px] flex flex-col px-6 pt-[18.5px] pb-[15.5px]">
                                        <div class="w-[85.16999816894531px] h-[47px] bg-amber-100 rounded-full"><span
                                                class="font-semibold text-xs underline text-amber-700">En
                                                attente</span><span
                                                class="font-semibold text-xs underline text-amber-700">Fokontany</span>
                                        </div>
                                    </div>
                                    <div class="w-[52.04999923706055px] flex flex-col items-end px-6 py-[28.5px]">
                                        <div class="flex justify-center items-center py-0.5">
                                            <div class="flex py-0.5">
                                                <div class="w-1 h-4"><svg
                                                        class="w-[3.5px] h-[13.5px] text-gray-400"></svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex justify-center items-center self-stretch pl-6 pr-[1.1368683772161603e-13px] border-t border-solid border-gray-50">
                                    <div class="w-[106.80999755859375px] flex items-center gap-3"><img
                                            class="w-8 h-8 rounded-full"></img>
                                        <div class="flex flex-col"><span class="font-medium text-sm text-gray-900">Lova
                                                H.</span></div>
                                    </div>
                                    <div class="w-[212.0800018310547px] flex flex-col pl-12 pr-6 pt-4 pb-[17px]"><span
                                            class="font-medium text-sm text-gray-600">Villa Bassine,
                                            Ambatobe</span></div>
                                    <div class="w-[133.6300048828125px] flex flex-col px-6 pt-4 pb-[17px]"><span
                                            class="font-bold text-sm text-gray-900">3.000.000
                                            Ar</span></div>
                                    <div class="w-[186.77000427246094px] flex flex-col px-6 pt-[26.5px] pb-[23.5px]">
                                        <div class="flex bg-emerald-100 px-3 py-[3.5px] rounded-full"><span
                                                class="font-semibold text-xs underline text-emerald-700">Actif</span>
                                        </div>
                                    </div>
                                    <div class="w-[52.04999923706055px] flex flex-col items-end px-6 py-[24.5px]">
                                        <div class="flex justify-center items-center py-0.5">
                                            <div class="flex py-0.5">
                                                <div class="w-1 h-4"><svg
                                                        class="w-[3.5px] h-[13.5px] text-gray-400"></svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex justify-center items-center self-stretch pl-6 pr-[1.1368683772161603e-13px] border-t border-solid border-gray-50">
                                    <div class="w-[106.80999755859375px] flex items-center gap-3"><img
                                            class="w-8 h-8 rounded-full"></img>
                                        <div class="flex flex-col pr-[28.860000610351562px]"><span
                                                class="font-medium text-sm text-gray-900">Jean
                                                Marc</span></div>
                                    </div>
                                    <div class="w-[212.0800018310547px] flex flex-col pl-12 pr-6 pt-[26px] pb-[26.5px]">
                                        <span class="font-medium text-sm text-gray-600">Bureau, 67ha</span></div>
                                    <div class="w-[133.6300048828125px] flex flex-col px-6 pt-[26px] pb-[26.5px]"><span
                                            class="font-bold text-sm text-gray-900">800.000 Ar</span></div>
                                    <div class="w-[186.77000427246094px] flex flex-col px-6 pt-[26.5px] pb-[23px]">
                                        <div class="flex bg-emerald-100 px-3 py-[3.5px] rounded-full"><span
                                                class="font-semibold text-xs underline text-emerald-700">Actif</span>
                                        </div>
                                    </div>
                                    <div class="w-[52.04999923706055px] flex flex-col items-end px-6 pt-[24.5px] pb-6">
                                        <div class="flex justify-center items-center py-0.5">
                                            <div class="flex py-0.5">
                                                <div class="w-1 h-4"><svg
                                                        class="w-[3.5px] h-[13.5px] text-gray-400"></svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col grow bg-white rounded-2xl border border-solid border-gray-100">
                        <div class="flex flex-col self-stretch p-6 border-solid border-gray-50">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-base text-gray-900">Consommation JIRAMA</span></div>
                            <div class="flex flex-col self-stretch"><span class="font-normal text-xs text-gray-500">Mise
                                    à jour : Octobre 2023</span></div>
                        </div>
                        <div class="flex flex-col self-stretch p-6">
                            <div class="flex flex-col gap-6 self-stretch pb-[26px]">
                                <div class="flex flex-col gap-2 self-stretch">
                                    <div class="flex justify-between self-stretch pr-[5.684341886080802e-14px]">
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-normal text-sm text-gray-600">Électricité (kWh)</span></div>
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-bold text-sm text-gray-900">452.1 kWh</span></div>
                                    </div>
                                    <div class="self-stretch h-2 bg-gray-100 rounded-full">
                                        <div class="w-[197.77000427246094px] h-2 bg-yellow-400"></div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-2 self-stretch">
                                    <div class="flex justify-between self-stretch pr-[0.009999999776482582px]">
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-normal text-sm text-gray-600">Eau (m³)</span></div>
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-bold text-sm text-gray-900">12.5 m³</span></div>
                                    </div>
                                    <div class="self-stretch h-2 bg-gray-100 rounded-full">
                                        <div class="w-[148.3300018310547px] h-2 bg-blue-400"></div>
                                    </div>
                                </div>
                                <div class="flex flex-col self-stretch pt-4 border-t border-dashed border-gray-200">
                                    <div
                                        class="flex justify-between items-center self-stretch bg-gray-50 pl-4 pr-[16.010000228881836px] pt-4 pb-4 rounded-xl">
                                        <div class="flex flex-col"><span class="font-medium text-sm text-gray-600">Total
                                                estimé</span></div>
                                        <div class="flex flex-col"><span class="font-bold text-xl text-blue-900">128.400
                                                Ar</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col self-stretch pt-6">
                                <div
                                    class="flex flex-col justify-center items-center self-stretch py-3 rounded-xl border-2 border-solid border-blue-900">
                                    <span class="font-bold text-base text-center text-blue-900">Détails de calcul</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col self-stretch bg-blue-900 p-10 rounded-3xl">
                    <div class="h-[244px] w-[362.6600036621094px] flex flex-col justify-center opacity-[0.20]"><img
                            class="self-stretch grow"></img></div>
                    <div class="w-80 h-80 opacity-[0.10] bg-emerald-500"></div>
                    <div class="w-[512px] flex flex-col gap-2">
                        <div class="flex flex-col self-stretch"><span class="font-bold text-2xl text-white">Besoin
                                d'aide juridique ?</span></div>
                        <div class="flex flex-col self-stretch pb-4"><span
                                class="font-normal text-[16px] leading-[26px] text-white">Nos experts vous accompagnent
                                pour la rédaction de vos baux
                                commerciaux ou pour tout litige foncier local.</span></div>
                        <div class="flex justify-center items-center bg-white px-6 py-3 rounded-xl">
                            <div class="w-[204px] h-12 bg-white"></div><span
                                class="font-bold text-base text-center text-blue-900">Consulter un expert</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>