<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>

<body>
    <div class="w-[1440px] flex bg-slate-50">
        <div class="flex flex-col justify-between self-stretch w-72 bg-blue-900">
            <div class="flex flex-col self-stretch p-8">
                <div class="flex items-center gap-3 self-stretch">
                    <div class="w-10 h-10 flex justify-center items-center bg-emerald-500 rounded-lg">
                        <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                            <div class="w-[22.5px] h-5"><svg class="w-[22.5px] h-[20.0029296875px] text-white"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><span class="font-bold text-2xl text-white">Bailtech</span></div>
                </div>
            </div>
            <div class="flex flex-col justify-center self-stretch grow pt-4">
                <div class="flex flex-col self-stretch grow px-4">
                    <div class="flex flex-col gap-2 self-stretch">
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[16.93529510498047px] h-4 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Tableau de
                                    bord</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3 h-4"><svg class="w-3 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Contrats</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg class="w-5 h-4 text-white"></svg></div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Locataires</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-5 h-4"><svg
                                        class="w-[19.996875762939453px] h-[15.994534492492676px] text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Paiements</span>
                            </div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch bg-white px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-3.5 h-4"><svg
                                        class="w-[12.002591133117676px] h-[16.000564575195312px] text-yellow-400"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-medium text-base text-white">Calculateur
                                    JIRAMA</span></div>
                        </div>
                        <div class="flex items-center gap-3 self-stretch px-4 py-3 rounded-xl">
                            <div class="w-5 flex flex-col py-1">
                                <div class="w-[18px] h-4"><svg class="w-[17.998830795288086px] h-3.5 text-white"></svg>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-normal text-base text-white">Documents</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col self-stretch p-6">
                <div class="flex flex-col gap-2 self-stretch bg-white p-4 rounded-2xl">
                    <div class="flex flex-col self-stretch"><span
                            class="font-semibold text-xs underline text-white">Abonnement</span></div>
                    <div class="flex justify-between items-center self-stretch">
                        <div class="flex flex-col"><span class="font-medium text-sm text-white">Pack Premium</span>
                        </div>
                        <div class="flex flex-col bg-emerald-500 px-2 py-0.5 rounded-full"><span
                                class="font-normal text-[10px] leading-[15px] text-white">ACTIF</span></div>
                    </div>
                    <div class="self-stretch h-1.5 bg-white rounded-full">
                        <div class="w-[156px] h-1.5 bg-emerald-500"></div>
                    </div>
                    <div class="flex flex-col self-stretch"><span
                            class="font-normal text-[11px] leading-[16.5px] text-white">12/15 biens gérés</span></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col self-stretch grow">
            <div class="flex justify-between items-center self-stretch h-20 bg-white px-8 border-solid border-gray-100">
                <div class="flex flex-col"><span class="font-bold text-xl text-gray-900">Calculateur de charges
                        JIRAMA</span></div>
                <div class="flex items-center gap-3">
                    <div class="flex flex-col">
                        <div class="flex flex-col items-end self-stretch"><span
                                class="font-semibold text-sm text-right text-gray-900">M. Razafindrakoto</span></div>
                        <div class="flex flex-col items-end self-stretch"><span
                                class="font-normal text-xs text-right text-gray-500">Propriétaire</span></div>
                    </div><img class="w-10 h-10 rounded-full border-2 border-solid border-emerald-500"></img>
                </div>
            </div>
            <div class="flex flex-col gap-8 self-stretch p-8">
                <div class="flex self-stretch h-[712px]">
                    <div class="flex flex-col gap-6 grow">
                        <div
                            class="flex flex-col gap-6 self-stretch bg-white p-6 rounded-2xl border border-solid border-slate-200">
                            <div class="flex items-center gap-3 self-stretch">
                                <div class="w-10 h-10 flex justify-center items-center bg-yellow-50 rounded-lg">
                                    <div class="flex flex-col pt-[4.25px] pb-[5.75px]">
                                        <div class="w-[20.25px] h-[18px]"><svg
                                                class="w-[20.25px] h-[18px] text-yellow-600"></svg></div>
                                    </div>
                                </div>
                                <div class="flex flex-col"><span class="font-bold text-base text-slate-900">Compteur
                                        Principal</span></div>
                            </div>
                            <div class="flex flex-col gap-4 self-stretch">
                                <div class="flex flex-col gap-[8.5px] self-stretch pt-[5.5px]"><span
                                        class="font-bold text-xs underline text-slate-500">Index Électricité
                                        (kWh)</span>
                                    <div class="flex flex-col self-stretch">
                                        <div
                                            class="flex justify-center self-stretch bg-slate-50 pl-4 pr-12 pt-3 pb-3 rounded-xl border border-solid border-slate-200">
                                            <div class="flex items-center gap-[2.842170943040401e-14px] grow">
                                                <div class="flex flex-col grow">
                                                    <div class="flex flex-col self-stretch"><span
                                                            class="font-semibold text-base text-slate-800">1250</span>
                                                    </div>
                                                </div>
                                                <div class="flex self-stretch">
                                                    <div class="w-[15px] opacity-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-5 flex flex-col"><span
                                                class="font-bold text-sm text-slate-400">kWh</span></div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[8.5px] self-stretch pt-[5.5px]"><span
                                        class="font-bold text-xs underline text-slate-500">Index Eau (m³)</span>
                                    <div class="flex flex-col self-stretch">
                                        <div
                                            class="flex justify-center self-stretch bg-slate-50 pl-4 pr-12 pt-3 pb-3 rounded-xl border border-solid border-slate-200">
                                            <div class="flex items-center gap-[2.842170943040401e-14px] grow">
                                                <div class="flex flex-col grow">
                                                    <div class="flex flex-col self-stretch"><span
                                                            class="font-semibold text-base text-slate-800">450</span>
                                                    </div>
                                                </div>
                                                <div class="flex self-stretch">
                                                    <div class="w-[15px] opacity-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-5 flex flex-col"><span
                                                class="font-bold text-sm text-slate-400">m³</span></div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[8.5px] self-stretch pt-[13.5px]"><span
                                        class="font-bold text-xs underline text-slate-500">Montant Total Facture</span>
                                    <div class="flex flex-col self-stretch">
                                        <div
                                            class="flex justify-center self-stretch bg-blue-50 pl-4 pr-16 pt-3 pb-3 rounded-xl border border-solid border-blue-100">
                                            <div class="flex items-center gap-[2.842170943040401e-14px] grow">
                                                <div class="flex flex-col grow">
                                                    <div class="flex flex-col self-stretch"><span
                                                            class="font-bold text-lg text-blue-900">450000</span></div>
                                                </div>
                                                <div class="flex self-stretch">
                                                    <div class="w-[15px] opacity-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-5 flex flex-col"><span
                                                class="font-bold text-sm text-blue-900">MGA</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex flex-col gap-4 self-stretch bg-white p-6 rounded-2xl border border-solid border-slate-200">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-base text-slate-900">Répartition Électricité vs Eau</span>
                            </div>
                            <div class="flex flex-col justify-center self-stretch h-[200px]">
                                <div class="self-stretch grow">
                                    <div class="w-[291.30999755859375px] h-[200px]"></div>
                                    <div class="w-[291.30999755859375px] h-[200px]"></div>
                                    <div class="w-[291.30999755859375px] h-[200px]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col grow pb-[368px]">
                        <div
                            class="flex flex-col self-stretch bg-white rounded-2xl border border-solid border-slate-200">
                            <div
                                class="flex justify-between items-center self-stretch bg-slate-50 p-6 border-solid border-slate-100">
                                <div class="flex items-center gap-3">
                                    <div class="w-10 h-10 flex justify-center items-center bg-emerald-50 rounded-lg">
                                        <div class="flex flex-col pt-[4.25px] pb-[5.75px]">
                                            <div class="w-[22.5px] h-[18px]"><svg
                                                    class="w-[22.496484756469727px] h-[18px] text-emerald-600"></svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-bold text-base text-slate-900">Sous-compteurs &
                                                Répartition</span></div>
                                        <div class="flex flex-col self-stretch"><span
                                                class="font-normal text-xs text-slate-500">Saisissez les index relevés
                                                pour chaque locataire</span></div>
                                    </div>
                                </div>
                                <div class="flex justify-center items-center gap-1 bg-blue-50 px-3 py-2 rounded-lg">
                                    <div class="flex py-[1.5px]">
                                        <div class="w-[10.5px] h-3"><svg
                                                class="w-[9.75px] h-[9.75px] text-blue-900"></svg></div>
                                    </div><span class="font-bold text-xs text-center text-blue-900"> AJOUTER UN
                                        COMPTEUR</span>
                                </div>
                            </div>
                            <div class="flex flex-col self-stretch">
                                <div class="flex flex-col self-stretch bg-slate-50">
                                    <div class="flex justify-center self-stretch">
                                        <div class="w-[154.11000061035156px] flex flex-col px-6 py-4"><span
                                                class="font-bold text-[10px] leading-[15px] underline text-slate-400">Locataire
                                                / Bien</span></div>
                                        <div class="w-[161.02999877929688px] flex flex-col px-6 py-4"><span
                                                class="font-bold text-[10px] leading-[15px] underline text-slate-400">Index
                                                Elec (kWh)</span></div>
                                        <div class="w-[146.75px] flex flex-col px-6 py-4"><span
                                                class="font-bold text-[10px] leading-[15px] underline text-slate-400">Index
                                                Eau (m³)</span></div>
                                        <div class="w-[148px] flex flex-col px-6 py-4"><span
                                                class="font-bold text-[10px] leading-[15px] underline text-slate-400">Dernier
                                                Relevé</span></div>
                                        <div class="w-[102.77999877929688px] flex flex-col px-6 py-4"><span
                                                class="font-bold text-[10px] leading-[15px] underline text-slate-400">Actions</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[-1px] self-stretch">
                                    <div class="flex justify-center items-center self-stretch pl-6">
                                        <div class="w-[106.11000061035156px] flex flex-col">
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-bold text-sm text-slate-900">Sahondra R.</span></div>
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-normal text-xs text-slate-500">Appartement T3</span>
                                            </div>
                                        </div>
                                        <div
                                            class="w-[185.02999877929688px] flex flex-col pl-12 pr-6 pt-[17px] pb-[17.5px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">320</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[146.75px] flex flex-col px-6 pt-[17px] pb-[17.5px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[148px] flex flex-col px-6 pt-[27.5px] pb-[25px]"><span
                                                class="font-medium text-xs text-slate-400">12 Sept. 2023</span></div>
                                        <div class="w-[102.77999877929688px] flex flex-col px-6 pt-[22px] pb-[22.5px]">
                                            <div class="flex justify-center items-center py-0.5">
                                                <div class="flex py-0.5">
                                                    <div class="w-3.5 h-4"><svg class="w-3.5 h-4 text-slate-400"></svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center self-stretch pl-6 border-t border-solid border-slate-100">
                                        <div class="w-[106.11000061035156px] flex flex-col">
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-bold text-sm text-slate-900">Andry Tiana</span></div>
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-normal text-xs text-slate-500">Studio A12</span></div>
                                        </div>
                                        <div
                                            class="w-[185.02999877929688px] flex flex-col pl-12 pr-6 pt-[17.5px] pb-[17.5px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">145</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[146.75px] flex flex-col px-6 py-[17.5px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[148px] flex flex-col px-6 pt-7 pb-[25px]"><span
                                                class="font-medium text-xs text-slate-400">10 Sept. 2023</span></div>
                                        <div class="w-[102.77999877929688px] flex flex-col px-6 py-[22.5px]">
                                            <div class="flex justify-center items-center py-0.5">
                                                <div class="flex py-0.5">
                                                    <div class="w-3.5 h-4"><svg class="w-3.5 h-4 text-slate-400"></svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center self-stretch pl-6 border-t border-solid border-slate-100">
                                        <div class="w-[106.11000061035156px] flex flex-col">
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-bold text-sm text-slate-900">Lova H.</span></div>
                                            <div class="flex flex-col self-stretch"><span
                                                    class="font-normal text-xs text-slate-500">Villa Bassine</span>
                                            </div>
                                        </div>
                                        <div
                                            class="w-[185.02999877929688px] flex flex-col pl-12 pr-6 pt-[17.5px] pb-[17px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">680</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[146.75px] flex flex-col px-6 pt-[17.5px] pb-[17px]">
                                            <div
                                                class="w-24 flex justify-center bg-white px-3 py-1.5 rounded-lg border border-solid border-slate-200">
                                                <div class="flex items-center grow">
                                                    <div class="flex flex-col grow">
                                                        <div class="flex flex-col self-stretch"><span
                                                                class="font-normal text-sm text-slate-800">28</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex self-stretch">
                                                        <div class="w-[15px] opacity-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-[148px] flex flex-col px-6 pt-7 pb-[24.5px]"><span
                                                class="font-medium text-xs text-slate-400">15 Sept. 2023</span></div>
                                        <div class="w-[102.77999877929688px] flex flex-col px-6 pt-[22.5px] pb-[22px]">
                                            <div class="flex justify-center items-center py-0.5">
                                                <div class="flex py-0.5">
                                                    <div class="w-3.5 h-4"><svg class="w-3.5 h-4 text-slate-400"></svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col self-stretch bg-white rounded-2xl border border-solid border-slate-200">
                    <div class="flex justify-between items-center self-stretch p-6 border-solid border-slate-100">
                        <div class="flex items-center gap-3">
                            <div class="w-10 h-10 flex justify-center items-center bg-blue-600 rounded-lg">
                                <div class="flex flex-col pt-[4.25px] pb-[5.75px]">
                                    <div class="w-[13.5px] h-[18px]"><svg class="w-[13.5px] h-[18px] text-white"></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col"><span class="font-bold text-lg text-slate-900">Résultats de
                                    Calcul de Répartition</span></div>
                        </div>
                        <div class="flex gap-4">
                            <div
                                class="flex items-center gap-2 px-5 py-2.5 rounded-xl border border-solid border-slate-200">
                                <div class="flex flex-col py-1">
                                    <div class="w-4 h-4"><svg class="w-[15.5px] h-4 text-slate-600"></svg></div>
                                </div><span class="font-bold text-base text-center text-slate-600">Importer facture
                                    JIRAMA</span>
                            </div>
                            <div class="flex items-center gap-2 bg-blue-900 px-5 py-[11px] rounded-xl">
                                <div class="w-[285.452880859375px] h-[46px] bg-white"></div>
                                <div class="flex flex-col py-1">
                                    <div class="w-4 h-4"><svg
                                            class="w-[15.999754905700684px] h-[16.00331687927246px] text-white"></svg>
                                    </div>
                                </div><span class="font-bold text-base text-center text-white">Générer les avis
                                    d'échéance</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center gap-6 self-stretch bg-slate-50 p-6">
                        <div class="flex flex-col grow bg-white p-4 rounded-xl border border-solid border-slate-200">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-[10px] leading-[15px] underline text-slate-400">Prix Unitaire
                                    Elec</span></div>
                            <div class="self-stretch h-7"><span class="font-bold text-xl text-slate-900">420</span><span
                                    class="font-bold text-xs text-slate-900">MGA/kWh</span></div>
                        </div>
                        <div class="flex flex-col grow bg-white p-4 rounded-xl border border-solid border-slate-200">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-[10px] leading-[15px] underline text-slate-400">Prix Unitaire
                                    Eau</span></div>
                            <div class="self-stretch h-7"><span class="font-bold text-xl text-slate-900">1
                                    250</span><span class="font-bold text-xs text-slate-900">MGA/m³</span></div>
                        </div>
                        <div class="flex flex-col grow bg-white p-4 rounded-xl border border-solid border-slate-200">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-[10px] leading-[15px] underline text-slate-400">Total Consommé
                                    Locataires</span></div>
                            <div class="self-stretch h-7"><span class="font-bold text-xl text-emerald-600">385
                                    400</span><span class="font-bold text-xs text-emerald-600">MGA</span></div>
                        </div>
                        <div class="flex flex-col grow bg-white p-4 rounded-xl border border-solid border-slate-200">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-[10px] leading-[15px] underline text-slate-400">Écart (Part
                                    Communes)</span></div>
                            <div class="self-stretch h-7"><span class="font-bold text-xl text-yellow-600">64
                                    600</span><span class="font-bold text-xs text-yellow-600">MGA</span></div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[-1px] self-stretch">
                        <div
                            class="flex flex-col self-stretch bg-slate-100 border-t border-b border-solid border-slate-200">
                            <div class="flex justify-center self-stretch">
                                <div class="w-[248.33999633789062px] flex flex-col px-8 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] underline text-slate-500">Locataire</span>
                                </div>
                                <div class="w-[188.58999633789062px] flex flex-col px-6 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] underline text-slate-500">Consom.
                                        (kWh)</span></div>
                                <div class="w-[172.80999755859375px] flex flex-col px-6 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] underline text-slate-500">Consom.
                                        (m³)</span></div>
                                <div class="w-[129.97000122070312px] flex flex-col px-6 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] underline text-slate-500">P.U
                                        Élec</span></div>
                                <div class="w-[132.30999755859375px] flex flex-col px-6 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] underline text-slate-500">P.U
                                        Eau</span></div>
                                <div class="w-[213.97000122070312px] flex flex-col items-end px-8 pt-5 pb-[21px]"><span
                                        class="font-bold text-[10px] leading-[15px] text-right underline text-slate-500">Total
                                        à payer</span></div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-[-1px] self-stretch">
                            <div class="flex justify-center items-center self-stretch pl-8">
                                <div class="w-[184.33999633789062px] flex items-center gap-3"><img
                                        class="w-8 h-8 rounded-full"></img>
                                    <div class="flex flex-col"><span class="font-bold text-sm text-slate-900">Sahondra
                                            R.</span></div>
                                </div>
                                <div class="w-[220.58999633789062px] flex flex-col pl-14 pr-6 pt-[26px] pb-[27px]"><span
                                        class="font-medium text-sm text-slate-800">85 kWh</span></div>
                                <div class="w-[172.80999755859375px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-medium text-sm text-slate-800">4.2 m³</span></div>
                                <div class="w-[129.97000122070312px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-normal text-sm text-slate-500">420 Ar</span></div>
                                <div class="w-[132.30999755859375px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-normal text-sm text-slate-500">1 250 Ar</span></div>
                                <div class="w-[213.97000122070312px] flex flex-col items-end px-8 pt-[22px] pb-[23px]">
                                    <span class="font-bold text-lg text-right text-blue-900">40 950 Ar</span></div>
                            </div>
                            <div
                                class="flex justify-center items-center self-stretch pl-8 border-t border-solid border-slate-100">
                                <div class="w-[184.33999633789062px] flex items-center gap-3"><img
                                        class="w-8 h-8 rounded-full"></img>
                                    <div class="flex flex-col"><span class="font-bold text-sm text-slate-900">Andry
                                            Tiana</span></div>
                                </div>
                                <div class="w-[220.58999633789062px] flex flex-col pl-14 pr-6 pt-[26px] pb-[27px]"><span
                                        class="font-medium text-sm text-slate-800">42 kWh</span></div>
                                <div class="w-[172.80999755859375px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-medium text-sm text-slate-800">1.8 m³</span></div>
                                <div class="w-[129.97000122070312px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-normal text-sm text-slate-500">420 Ar</span></div>
                                <div class="w-[132.30999755859375px] flex flex-col px-6 pt-[26px] pb-[27px]"><span
                                        class="font-normal text-sm text-slate-500">1 250 Ar</span></div>
                                <div class="w-[213.97000122070312px] flex flex-col items-end px-8 pt-[22px] pb-[23px]">
                                    <span class="font-bold text-lg text-right text-blue-900">19 890 Ar</span></div>
                            </div>
                            <div
                                class="flex justify-center items-center self-stretch pl-8 border-t border-solid border-slate-100">
                                <div class="w-[184.33999633789062px] flex items-center gap-3"><img
                                        class="w-8 h-8 rounded-full"></img>
                                    <div class="flex flex-col"><span class="font-bold text-sm text-slate-900">Lova
                                            H.</span></div>
                                </div>
                                <div class="w-[220.58999633789062px] flex flex-col pl-14 pr-6 pt-[26px] pb-[26.5px]">
                                    <span class="font-medium text-sm text-slate-800">185 kWh</span></div>
                                <div class="w-[172.80999755859375px] flex flex-col px-6 pt-[26px] pb-[26.5px]"><span
                                        class="font-medium text-sm text-slate-800">12.5 m³</span></div>
                                <div class="w-[129.97000122070312px] flex flex-col px-6 pt-[26px] pb-[26.5px]"><span
                                        class="font-normal text-sm text-slate-500">420 Ar</span></div>
                                <div class="w-[132.30999755859375px] flex flex-col px-6 pt-[26px] pb-[26.5px]"><span
                                        class="font-normal text-sm text-slate-500">1 250 Ar</span></div>
                                <div
                                    class="w-[213.97000122070312px] flex flex-col items-end px-8 pt-[22px] pb-[22.5px]">
                                    <span class="font-bold text-lg text-right text-blue-900">93 325 Ar</span></div>
                            </div>
                        </div>
                        <div class="flex flex-col self-stretch bg-blue-900 pt-px">
                            <div class="flex justify-center self-stretch">
                                <div class="w-[872.030029296875px] flex flex-col px-8 py-[18px]"><span
                                        class="font-bold text-base text-white">TOTAL RÉPARTI LOCATAIRES</span></div>
                                <div class="w-[213.97000122070312px] flex flex-col items-end px-8 py-4"><span
                                        class="font-bold text-xl text-right text-white">154 165 Ar</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center gap-8 self-stretch">
                    <div class="flex gap-4 grow bg-amber-50 p-6 rounded-2xl border border-solid border-amber-200">
                        <div class="w-12 h-12 flex justify-center items-center bg-amber-100 rounded-xl">
                            <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                                <div class="w-[15px] h-5"><svg class="w-[13.75px] h-5 text-amber-600"></svg></div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-[3px] self-stretch">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-base text-amber-900">Astuce : Calcul de la part commune</span>
                            </div>
                            <div class="flex flex-col self-stretch pb-[0.75px]"><span
                                    class="font-normal text-[14px] leading-[22.75px] text-amber-800">L'écart entre le
                                    compteur principal et la somme des sous-
                                    compteurs représente souvent l'éclairage des parties
                                    communes ou les pertes. Bailtech vous suggère de répartir
                                    cet écart au prorata de la consommation ou de l'inclure dans
                                    les charges fixes.</span></div>
                        </div>
                    </div>
                    <div class="flex gap-4 grow bg-blue-50 p-6 rounded-2xl border border-solid border-blue-200">
                        <div class="w-12 h-12 flex justify-center items-center bg-blue-100 rounded-xl">
                            <div class="flex flex-col pt-[3.5px] pb-[4.5px]">
                                <div class="w-5 h-5"><svg class="w-5 h-5 text-blue-600"></svg></div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-[3.125px] self-stretch">
                            <div class="flex flex-col self-stretch"><span
                                    class="font-bold text-base text-blue-900">Tarification JIRAMA Octobre 2023</span>
                            </div>
                            <div class="flex flex-col self-stretch pb-[0.875px]"><span
                                    class="font-normal text-[14px] leading-[22.75px] text-blue-800">Les tarifs appliqués
                                    sont basés sur la structure tarifaire
                                    Optima. N'oubliez pas de vérifier si votre abonnement est
                                    passé en tarif 14 (Domestique) ou 16 (Professionnel) pour un
                                    calcul précis.</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>